@page
@model PrivacyModel
@{
    ViewData["Title"] = "Общи условия за бисквитките";
}
<h2>ПОЛИТИКА ЗА БИСКВИТКИТЕ</h2>

<h3>1. Бисквитки (COOKIES)</h3>
<p>
    За да сме сигурни, че нашите потребители/посетители получават най-подходящата и актуална информация, както и най-добрите услуги, когато посещават нашата интернет страница: Actualno.com, различна информация и данни могат да бъдат събирани чрез употреба на т.нар. „бисквитки“ (cookies). Целта е да подобрим услугите, които предоставяме на своите потребители/посетители и да сме сигурни, че лесно ще намерят онова, което търсят. Посетителите и потребители на сайта не са длъжни да се съгласят с използването на бисквитките. Сайтът на Actualno.com може да бъде използван и без това съгласие. Използването на бисквитките обаче ще допринесе за по-добрата работа на сайта, за по-пълното използване на всички негови функции при това по-лесно и по-бързо.
</p>

<h3>2. Какво са бисквитките?</h3>
<p>
    Бисквитките са малки пакети данни, които се изпращат до браузъра на потребителите/ посетителите от уеб сървър и се съхраняват на тяхното устройство (компютър и/или мобилно устройство), така че сайтът да може да разпознае съответния компютър/ мобилно устройство. Има два вида бисквитки – постоянни и временни („сесийни“) бисквитки. - Постоянните бисквитки се съхраняват като файл на компютъра или мобилното устройство за по-продължителен период от време. - Сесийните бисквитки са активни временно в устройството, когато се посещава нашия сайт и изчезват, когато потребителят/ посетителят затвори страницата. Те не се съхраняват за постоянно на устройството. Повечето компании използват бисквитки на сайтовете си, за да подобрят използваемостта. Бисквитките се използват от интернет сайтовете, за да различават и да запомнят потребителите, които могат да бъдат идентифицирани или анонимни, според това имат или нямат профил в съответния сайт. Целта на бисквитките обаче не е да установява самоличността на посетителите/ потребителите. Бисквитките са изцяло под контрол на посетителите и потребителите и същите могат да ги изтрият по всяко време, като начинът зависи от конкретния използван браузър. Бисквитките идентифицират комбинация от компютър и уеб браузър. Едно лице, което използва няколко браузъра и/или устройства има отделен набор от бисквитки за всяка комбинация устройство – браузър. В тази връзка бисквитките не правят разлика между множество потребители, споделящи един и същ компютър и браузър, освен ако те не използват собствени (индивидуализиращи ги) потребителски профили. Има различни видове бисквитки според функциите и спецификите на сайтовете, които ги ползват. Така сайтовете, които предлагат онлайн пазаруване използват бисквитки във връзка с добавени продукти в кошницата от конкретно устройство на гост или от профил на потребител. В други сайтове бисквитките може да са свързани с дизайна на самата страница – цвят на темата; избран дизайн и др. II. Използване на бисквитки от Actualno.com Actualno.com използва информацията от бисквитките, за да нашата интернет страница да стане по-лесна за използване от потребителите/ посетителите и за да можем да осигурим адекватно ниво на информация. Използването на бисквитките е свързано със запомняне предпочитанията на потребителите/посетителите на сайта, например във връзка с избрания език, съгласяването с ползването на бисквитките. Използваме бисквитки и за анализ и статистики за посещенията на сайта и във връзка с рекламите, находящи се на Actualno.com
</p>

<h3>3. Бисквитки на трети страни</h3>
<p>
    Използваме също така и бисквитки на трети страни. Въпросните бисквитки се управляват от съответните сайтове, те не се контролират от нас и ние не носим отговорност за тях. Третите страни, чиито услуги ползваме и които ползват бисквитки са Google Analytics, Gemius Audience, AdOcean, DoubleClick for Publishers, SendPulse.
</p>

<h3>4. Изтриване на бисквитките</h3>
<p>
    Потребителите/посетителите на сайта могат да изтрият бисквитките, съхранявани на тяхното устройство по всяко време. Някои бисквитки могат да бъдат изключени с помощта на общите настройки на браузъра на потребителя/посетителя. За други бисквитки е необходимо да се посети съответния сайт и да се следват инструкциите в тази връзка. Можете сами да изберете дали да приемете използването на бисквитките от даден интернет сайт или не. Вашият компютър може да бъде настроен да отхвърля всички бисквитки. Ако искате да разберете как да направите това, посетете aboutcookies.org. Потребителите и посетителите следва да имат предвид, че промените в браузъра, с които се деактивира функцията за бисквитки, може да попречат на части от Actualno.com да функционират правилно.
</p>

<h3>5.Промени в нашата политика за бисквитките</h3>
<p>
    Всички промени в Политика за бисквитките ще бъдат публикувани на тази интернет страница и ще бъдат достъпни за всички потребители на сайта. Всички промени влизат в сила незабавно,с публикуването им на сайта.
</p>

<h3>За въпроси и контакти:</h3>
