@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<label>Log:</label>
<div id="console"></div>
<script>
        var consoleOutput = document.getElementById('console');

        var webSocketOnOpen = function () {
            writeToConsole('[-- CONNECTION ESTABLISHED --]');
        };

        var webSocketOnClose = function () {
            writeToConsole('[-- CONNECTION CLOSED --]');
        };

        var webSocketOnError = function () {
            writeToConsole('[-- ERROR OCCURRED --]');
        };

        var webSocketOnMessage = function (message) {
            writeToConsole('[-- RECEIVED --]: ' + message.data);
        };

        var writeToConsole = function (text) {
            var paragraph = document.createElement('p');
            paragraph.style.wordWrap = 'break-word';
            paragraph.appendChild(document.createTextNode(text));
            consoleOutput.appendChild(paragraph);
        };

        webSocket = new WebSocket("ws://localhost:11245/socket");
        webSocket.onopen = webSocketOnOpen;
        webSocket.onclose = webSocketOnClose;
        webSocket.onerror = webSocketOnError;
        webSocket.onmessage = webSocketOnMessage;
</script>

